<template>
  <VContainer>
    <VRow justify="center">
      <VCol cols="8" class="d-flex align-center mt-8">
        <VCard class="w-100">
          <VCardTitle class="mb-2">
            <h3>Add new post</h3>
          </VCardTitle>

          <VCardText>
            <VTextField label="title" v-model="title" required />
            <VTextarea v-model="body" label="body" required></VTextarea>
          </VCardText>

          <VCardActions>
            <VSpacer />
            <VBtn
              @click="addPost"
              variant="flat"
              color="primary"
              :disabled="!Boolean(title && body)"
            >
              Add post</VBtn
            >
          </VCardActions>
        </VCard>
      </VCol>
    </VRow>
  </VContainer>
</template>

<script lang="ts" setup>
import { usePosts } from '../store/usePosts';
import { ref } from 'vue';
const title = ref('');
const body = ref('');

const postStore = usePosts();

function addPost(): void {
  const value = {
    title: title.value,
    body: body.value
  };

  postStore.addPost(value);
}
</script>
