<template>
  <VSheet class="w-100 mb-4">
    <div class="d-flex flex-column w-100">
      <p class="text-h6 mb-4 font-weight-bold">{{ title }}</p>
      <p>{{ body }}</p>
    </div>
    <div class="d-flex mt-4">
      <VBtn prepend-icon="mdi-pen" @click="editItem"> Edit </VBtn>
      <VBtn prepend-icon="mdi-trash-can" @click="deletePost" class="ml-4"> Delete </VBtn>
    </div>
  </VSheet>
  <v-divider class="mb-10" />
</template>

<script lang="ts" setup>
import { usePosts } from '../store/usePosts';

const postStore = usePosts();

interface IProps {
  userId?: number;
  id: number;
  title: string;
  body: string;
}

const props = defineProps<IProps>();
const $emits = defineEmits(['editPost']);

async function deletePost() {
  try {
    await postStore.deletePost(props.id);
  } catch (error) {
    console.log(error);
  }
}

function editItem() {
  const value = {
    id: props.id,
    userId: props.userId,
    title: props.title,
    body: props.body
  };
  $emits('editPost', value);
}
</script>
