<template>
  <VDialog max-width="600" v-model="dialog">
    <VCard class="pa-12">
      <VCardTitle>
        <h3>Add Todo</h3>
      </VCardTitle>
      <VCardText>
        <VTextarea v-model="titleRef" label="Title" required></VTextarea>
        <VTextarea v-model="bodyRef" label="text" required></VTextarea>
      </VCardText>
      <VCardActions>
        <VSpacer />
        <div class="d-flex justify-space-between">
          <VBtn color="secondary" @click="closeDialog">Cancel</VBtn>
          <VBtn color="primary" @click="savePost">Save</VBtn>
        </div>
      </VCardActions>
    </VCard>
  </VDialog>
</template>

<script lang="ts" setup>
import { ref, watch } from 'vue';
import { usePosts } from '../store/usePosts';

const dialog = ref(false);
const postStore = usePosts();

const props = defineProps({
  showDialog: {
    type: Boolean,
    required: true
  },
  id: {
    type: Number,
    required: true
  },
  title: {
    type: String,
    required: true
  },
  body: {
    type: String,
    required: true
  }
});

const $emits = defineEmits(['closeDialog']);

const idRef = ref(0);
const titleRef = ref('');
const bodyRef = ref('');

async function savePost() {
  const newPost = {
    title: titleRef.value,
    body: bodyRef.value
  };
  $emits('closeDialog');
  await postStore.updatePost(newPost, idRef.value);
}

function closeDialog() {
  $emits('closeDialog');
}
watch(
  () => props.showDialog,
  () => {
    dialog.value = props.showDialog;
    idRef.value = props.id;
    titleRef.value = props.title;
    bodyRef.value = props.body;
  }
);
</script>
