<template>
  <AddPosts />
  <ModalPost
    :showDialog="dialog"
    :title="editable.title"
    :body="editable.body"
    :id="editable.id"
    @closeDialog="dialog = false"
  />
  <VContainer>
    <VRow justify="center">
      <VCol cols="8">
        <ItemPost
          v-for="post in getPosts"
          :key="post.id"
          :id="post.id"
          :title="post.title"
          :body="post.body"
          @editPost="editPost"
        />
      </VCol>
    </VRow>
  </VContainer>
</template>

<script setup lang="ts">
import { onMounted, ref } from 'vue';
import AddPosts from './components/add-posts.vue';
import ItemPost from './components/item-post.vue';
import ModalPost from './components/modal-post.vue';
import { IPost } from './types/index.js';
import { storeToRefs } from 'pinia';
import { usePosts } from './store/usePosts.js';

const postStore = usePosts();

const { getPosts } = storeToRefs(postStore);

const dialog = ref(false);
const editable = ref<IPost>({
  userId: 0,
  title: '',
  body: '',
  id: 0
});

onMounted(async () => {
  await postStore.fetchPosts();
});

function editPost(value: IPost): void {
  dialog.value = true;
  editable.value = value;
}
</script>
